[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/duydang2311/altv-roleplay-frontend.git
[submodule "src/client"]
	path = src/client
	url = https://github.com/duydang2311/altv-roleplay-client.git
[submodule "src/GameMode.Server"]
	path = src/GameMode.Server
	url = https://github.com/duydang2311/altv-roleplay-server.git
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/duydang2311/altv-roleplay-shared.git
[submodule "src/GameMode.Server.Tests"]
	path = src/GameMode.Server.Tests
	url = https://github.com/duydang2311/altv-roleplay-server-tests.git
